# requirements.txt version of Pipfile
# we use this in docker so we don't
# have to deal with installing pipenv

# NOTE(a5): we use ~= to indicate that
#  we only accept same minor version

# webpages:
django ~= 3.1.0
django-relativefilepathfield~=1.0.3

# thumbnail generation:
Pillow~=7.2.0
selenium~=3.141.0

# yaml files
pyyaml~=5.3.1
